@{
    ViewData["Title"] = "Contact Us";
}
<h2>Contact Us</h2>
<table cellspacing="30"  cellpadding="30" align ="center">
    <tr>
    <td><b style="color:darkblue">Charlie Li</b><br/>EVP, NA Chief Cloud Officer<br/>Charlie.Li@capgemini.com</td>
    <td><b style="color:darkblue">Subrata Pal Li</b><br/>VP, NA Cloud Foundations Leader<br />Subrata.Pal@capgemini.com</td></tr>
    <tr><td><b style="color:darkblue">Pankaj Sehgal Li</b><br />Principal, NA Cloud Native & PaaS Leader<br />Pankaj.Sehgal@capgemini.com</td>
    <td><b style="color:darkblue">Kaushik De</b><br />Principal, NA Go To MarketLeader<br />Kaushik.De@capgemini.com</td></tr>
</table>
